{% assign collection_name = page.title | split: "(" | first %}
{% assign episode_id = page.title | split: "(" | last | split: ")" | first %}

{% assign collection_path_prefix = '/' | append: collection_name | append: '/' | append: collection_name | append: '_'
%}
{% assign page_path_prefix = collection_path_prefix | append: episode_id | append: '.' %}
{% assign toc_path_prefix = collection_path_prefix | append: '目录.' %}
{% assign toc_path = page.path | replace: page_path_prefix, toc_path_prefix %}
{% assign collection_pages = site.pages | where_exp: "page_item", "page_item.path contains collection_path_prefix and page_item.path != toc_path" | sort: "path" %}

{% assign first_page = collection_pages | first %}
{% assign last_page = collection_pages | last %}
{% assign id_min_num = first_page.title | split: "(" | last | split: ")" | first | plus: 0 %}
{% assign id_max_num = last_page.title | split: "(" | last | split: ")" | first | plus: 0 %}

{% if episode_id == '目录' %}
{% assign prev_id = null %}
{% assign next_id = id_min_num | prepend: '00' | slice: -3, 3 %}
{% else %}
{% assign episode_id_num = episode_id | plus: 0 %}
{% if episode_id_num == id_min_num %}
{% assign prev_id = '目录' %}
{% assign next_id = episode_id_num | plus: 1 | prepend: '00' | slice: -3, 3 %}
{% elsif episode_id_num == id_max_num %}
{% assign prev_id = episode_id_num | minus: 1 | prepend: '00' | slice: -3, 3 %}
{% assign next_id = null %}
{% else %}
{% assign prev_id = episode_id_num | minus: 1 | prepend: '00' | slice: -3, 3 %}
{% assign next_id = episode_id_num | plus: 1 | prepend: '00' | slice: -3, 3 %}
{% endif %}
{% endif %}

<div style="margin: 1rem 0; padding: 1rem; background: #f5f5f5; border-radius: 4px;">
  first: {{ first_page.title }} | last: {{ last_page.title }} | min: {{ id_min_num }} | max: {{ id_max_num }} |
  <a href="/">网站首页</a> |
  <a href="/{{ collection_name }}_目录">文集目录</a> |
  {% if prev_id %}
  <a href="/{{ collection_name }}_{{ prev_id }}">上一篇</a> |
  {% else %}
  <span>上一篇</span> |
  {% endif %}
  {% if next_id %}
  <a href="/{{ collection_name }}_{{ next_id }}">下一篇</a> |
  {% else %}
  <span>下一篇</span> |
  {% endif %}
  {% if page.external %}
  <a href="{{ page.external }}">原站链接</a>
  {% endif %}
</div>